body {
    margin: 0%;
}

#navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #67B521;
    height: 90px;
    display: flex;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 5px 8px -5px #333;
}

#nav {
    display: flex;
    background-color: #67B521;
    /* border: 1px solid red; */
    flex-direction: row;
    position: sticky;

}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:link {
    color: white;
}

#navbar a:hover {
    color: yellow;
}



#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar li {
    display: inline;
    padding: 0 20px;
}

#menu {
    min-width: 500px;
}

#logo,
#menu,
#signIn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
    color: white;
    font-size: 19px;
}

#loginBtn {
    width: 200px;
    height: 40px;
    color: #67B521 !important;
    background-color: rgba(240, 230, 230, 0.7);
    border: 1px solid white;
}

#loginBtn>a {
    color: #67B521;
}

#signIn>img {
    cursor: pointer;
    height: 60%;
    margin-top: -15px;
}

#firstSect{
    
    /* height: 760px; */
    background-image: url(https://static.wixstatic.com/media/035244_881cbe4617f449cab844cb6a48b5fbeb~mv2_d_2475_2475_s_4_2.jpeg/v1/fill/w_1583,h_760,al_c,q_85,usm_0.66_1.00_0.01/035244_881cbe4617f449cab844cb6a48b5fbeb~mv2_d_2475_2475_s_4_2.webp);
    background-color: #67B521;
    background-size: cover;

}
#firstSect1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 760px;
    background-color:rgba(240, 230, 230, 0.8);
    display: flex;
}
#firstSect11{
    height: 760px;
    background-image: url(https://static.wixstatic.com/media/11062b_eada5664b8fd45f291b84e3e5dcdd83a~mv2.jpeg/v1/fill/w_805,h_760,al_c,q_85,usm_0.66_1.00_0.01/11062b_eada5664b8fd45f291b84e3e5dcdd83a~mv2.webp) ;
    background-repeat: no-repeat;
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;
    padding-top: 35px;
    color: white;

}
#firstSect12{
    font-size: 3rem;
    padding-left: 60px;
    padding-top: 120px;
}
.fSectItem{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
     
}
#firstSect12 > button{
    background-color: #67B521;
    font-size: 1.05rem;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    border-radius: 15px;
    border: #67B521;
    cursor: pointer;

}

#fsectFont1{
    color: white;

}
#fsectFont2, #fsectFont3{
    color: rgba(0, 0, 0, 0.7);
}
#fsectFont2 > p{
    font-size: 1.8rem;
    line-height: 7px;
}
.fsectFont12 {
    font-size: 4.4rem;
}

/* For sticky Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #firstSect {
    padding-top: 60px;
}
/*  */


#secondSect{
    height: 763px;
    background-image: url(https://static.wixstatic.com/media/7d8e8d_b34b450ce92348129cfa87a1a27a80f4~mv2.png/v1/fill/w_1583,h_763,al_c,q_90,usm_0.66_1.00_0.01/7d8e8d_b34b450ce92348129cfa87a1a27a80f4~mv2.webp);

}


#secondSect > button{
    cursor: pointer;

    position: relative;
    top: 520px;
    left: 100px;
    padding: 12px 55px;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(228, 201, 201,0.000003);


}
#secondSect > button:hover{

    background-color: #67B521;
}
#thirdSect{
 height: 593px ;
 background-image: url(https://static.wixstatic.com/media/nsplsh_568ebea6d5f24fa98bd75e3074ebbd69~mv2.jpg/v1/fill/w_1583,h_593,al_c,q_85,usm_0.66_1.00_0.01/nsplsh_568ebea6d5f24fa98bd75e3074ebbd69~mv2.webp);
}

/* For Footer */
#footer{
    background-color: #E8E8E8;
    background-image: url(https://static.parastorage.com/services/editor-elements/dist/media/ironpatern.6522082f.png);
    display: flex;
    justify-content: center;
    box-shadow: 0 -5px 25px -5px rgba(88, 87, 87, 0.7);
}

.footItem ul {
    list-style: none;
    padding: 10px 110px 0px 0 ;
    font-size: 0.87rem;
    line-height: 18px;
}

.footItem span{
    color: #67B521;
}

.footItem button{
    padding: 0.6em 1.5em;
    font-size: 1.0008rem;
    color: #67B521;
    border: 1px solid #67B521 ;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}
.footItem button:hover{
    background-color: #67B521;
    color: white;
}

.footIcons > li{
    display: inline;
}

#iconSection ul{
    padding-right: 0px ;
}

#spGap{
    margin: 0px 20px 0 10px;
}

#footer a {
    text-decoration: none;
    color: black;
}
#footer a:hover {
    color: #67B521;
}
/*  */












