body {
  margin: 0%;
  background-color: rgb(228, 228, 228);
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
#navbar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #67b521;
  height: 90px;
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 5px 8px -5px #333;
}

#nav {
  display: flex;
  background-color: #67b521;
  /* border: 1px solid red; */
  flex-direction: row;
  position: sticky;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar a:link {
  color: white;
}

#navbar a:hover {
  color: yellow;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar li {
  display: inline;
  padding: 0 20px;
}
/* NAVBAR END */

#quick-order {
  width: 980px;
  background-color: white;
  margin: auto;
  padding: 20px;
}
h2 {
  font-weight: 400;
}
.heading {
  width: 1020px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0px;
}
.heading > h2 {
  margin: 12px;
}
hr {
  width: 380px;
  height: 1px;
  background-color: green;
  border: 1px solid green;
  margin-top: 25px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 14px;
}
.option {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 20px;
}
.option > #sort {
  width: 200px;
  text-align: left;
  background-color: white;
  border: 1px solid gray;
}
.option > h2 {
  margin: 0;
  margin-top: 8px;
}
.items-container {
  display: flex;
}
.filter-list {
  flex-basis: 135%;
}
.list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.border-top {
  border-top: 1px solid gray;
}
.list-item > * {
  margin: 0;
  padding: 20px 0px 20px 0px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 347px;
  margin: 10px 0px 8px 28px;
  position: relative;
  padding: 0;
  cursor: pointer;
}
.card:hover {
  border: 1px solid black;
}
.card-img > p {
  display: none;
}
.card-img > img {
  width: 100%;
  margin: 0;
}
.card-img {
  padding: 0;
}
.card-text {
  color: green;
}
.card-text-divider {
  border-bottom: 1px solid lightgray;
  width: 70%;
  margin-left: 10px;
}
.card-text > p:nth-child(1) {
  font-size: 18px;
}
.card-text > p {
  margin: 10px;
}
.tag {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: orange;
  padding: 5px;
  color: white;
}
.tag2 {
  position: absolute;
  top: 65%;
  color: white;
  background-color: rgb(96, 216, 96);
  width: 327px;
  padding: 10px;
  margin: 0%;
  text-align: center;
}

/* For Footer */
#footer {
  background-color: #e8e8e8;
  background-image: url(https://static.parastorage.com/services/editor-elements/dist/media/ironpatern.6522082f.png);
  display: flex;
  justify-content: center;
  box-shadow: 0 -5px 25px -5px rgba(88, 87, 87, 0.7);
}

.footItem ul {
  list-style: none;
  padding: 10px 110px 0px 0;
  font-size: 0.87rem;
  line-height: 18px;
}

.footItem span {
  color: #67b521;
}

.footItem button {
  padding: 0.6em 1.5em;
  font-size: 1.0008rem;
  color: #67b521;
  border: 1px solid #67b521;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}
.footItem button:hover {
  background-color: #67b521;
  color: white;
}

.footIcons > li {
  display: inline;
}

#iconSection ul {
  padding-right: 0px;
}

#spGap {
  margin: 0px 20px 0 10px;
}

#footer a {
  text-decoration: none;
  color: black;
}
#footer a:hover {
  color: #67b521;
}
/*  */
